.exercise-card {
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 0px;
    margin: 20px;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.titolo{
    background-color: black;
    color: white;
    margin-top: 0;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.dati{
    margin: 20px;
}
