.header {
  position: relative;
  background-image: url('/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  color: white;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header h1 {
  position: relative;
  z-index: 2;
  font-size: 48px;
  margin: 0;
  margin-top: 80px;
}

.header p {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 2;
  font-size: 18px;
  margin: 0;
}