.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 20px;
  padding-right: 40px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  z-index: 101;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal input, .modal textarea {
  width: 100%;
  padding: 5px 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.serie{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.serie label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.serie input {
  width: 50%;
}